@media screen and (max-width: 805px) {
  .effect-3 {
    top: -181px;
    left: 37%;
  }
  .effect-4 {
    left: 17%;
    top: 15%;
  }

  .graphics {
    margin-top: 5px;
  }

  .effect-2 {
    bottom: 3%;
  }
  .effect-1 {
    bottom: 3%;
  }
  .content {
    box-shadow: 0px 0px 0px;
    width: 50%;

    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .effect-3 {
    top: -181px;
    left: 37%;
  }
  .effect-4 {
    left: 17%;
    top: 15%;
  }

  .graphics {
    margin-top: -55px;
  }

  .effect-2 {
    bottom: 3%;
  }
  .effect-1 {
    bottom: 3%;
  }
  .content {
    box-shadow: 0px 0px 0px;
    width: 80%;
    justify-content: space-between;
  }
}
